{% extends 'base.html'%}

{% block content %}
    
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Device informations</h1>

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Iphone 16 Pro Max</h6>
                        </div>
                        <div class="card-body">
                            The styling for this basic card example is created by using default Bootstrap
                            utility classes. By using utility classes, the style of the card component can be
                            easily modified with no need for any custom CSS!
                        </div>
                    </div>

                    <div class="modal-dialog" role="document">
                        <div class="modal-content rounded-4 shadow">
                          <div class="modal-header border-bottom-0">
                            <h1 class="modal-title fs-5">Start a new case</h1>
                          </div>
                          <div class="modal-body py-0">
                            <p>You can create a new case by uploading your (local) IOS Backup.</p>
                          </div>
                          <div class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
                            <button type="button" class="btn btn-lg btn-primary">Select a backup</button>
                          </div>
                        </div>
                      </div>

                      <div class="modal-dialog" role="document">
                        <div class="modal-content rounded-4 shadow">
                          <div class="modal-header border-bottom-0">
                            <h1 class="modal-title fs-5">Start a new case</h1>
                          </div>
                          <div class="modal-body py-0">
                            <p>Please enter your name and information</p>
                          </div>
                          <div class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
                            <input type="text" class="input px-3 mb-3" placeholder="Insceptor">
                            <input type="text" class="input px-3 mb-3" placeholder="insiecptor@email.com">
                        </div>
                        </div>
                      </div>


                </div>
                <!-- /.container-fluid -->

            </div>
{% endblock %}