{% extends 'base.html'%}

{% block content %}
    
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Device informations</h1>

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Iphone 16 Pro Max</h6>
                        </div>
                        <div class="card-body">
                            The styling for this basic card example is created by using default Bootstrap
                            utility classes. By using utility classes, the style of the card component can be
                            easily modified with no need for any custom CSS!
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
{% endblock %}